      <section class="site-section">
        <div class="container">
            <h2>Contactate con nosotros</h2>
            <p>Sabemos que las dudas pueden surgir y es por eso que el equipo de administracion esta aqui para responder todas sus dudas ante cualquier hecho que llegue a ocurrir, esperamos que su estadia aqui sea placentera y disfrute de nuestrs sitio.</p>
            <br>
          <div class="row">
             
            <div class="col-md-12">
              <form action="#" method="post">
                    <div class="row">
                      <div class="col-md-4 form-group">
                        <label for="name">Nombre completo</label>
                        <input type="text" id="name" class="form-control ">
                      </div>
                      <div class="col-md-4 form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control ">
                      </div>
                      <div class="col-md-4 form-group">
                        <label for="phone">Municipio</label>
                        <input type="text" id="phone" class="form-control ">
                      </div>
                      
                    </div>
                     
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label for="message">Comentario</label>
                        <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input type="submit" value="Envíar comentario" class="btn btn-primary">
                      </div>
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </section>
      <!-- END section -->