<section class="site-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center">
          <h2>Noticias Políticas en México</h2>
          <p>Obtener una buena noticia sin duda alguna aporta grandes ventajas para nuestra vida. En primer lugar les da la oportunidad a las personas de mantenerse informado de los acontecimientos que ocurren a nivel nacional. De esta manera podrán decidir de manera adecuada si la noticia los afecta directamente.</p>
        </div>
      </div>   
      <div class="row">
        <div class="col-md-4">
          <div class="media d-block media-feature text-center">
            <div class="mr-3 icon-wrap"><span> <img src="/assets/images/amlo.jpeg" height="200px"  alt=""></span></div>
            <div class="media-body">
              <h3>Carta de Corresponsabilidad no será obligatoria, asegura AMLO</h3>
              <p>Dentro del protocolo de la SEP para el regreso a clases presenciales, figuraba una Carta de Corresponsabilidad que los padres deberían firmar diariamente.</p>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="media d-block media-feature text-center">
            <div class="mr-3 icon-wrap"><span> <img src="/assets/images/gas.jpg" height="200px"  alt=""></span></div>
            <div class="media-body">
              <h3>Afirma AMLO que el suministro de gas LP se está regularizando.</h3>
              <p>Autoridades federales sostuvieron reuniones el fin de semana con todos los involucrados en la cadena de suministro de gas LP.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media d-block media-feature text-center">
            <div class="mr-3 icon-wrap"><span> <img src="/assets/images/anaya.jpg" height="200px"  alt=""></span></div>
            <div class="media-body">
              <h3>"El combate a la pobreza es un rotundo y doloroso fracaso": Ricardo Anaya.</h3>
              <p>El político panista señaló los resultados más recientes del Coneval sobre la pobreza y el acceso a la salud en México.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">

          <div class="media d-block media-feature text-center">
            <div class="mr-3 icon-wrap"><span> <img src="/assets/images/haiti.jpg" height="200px"  alt=""></span></div>
            <div class="media-body">
              <h3>México envía 19 toneladas de víveres e insumos a Haití tras terremoto.</h3>
              <p>La titular de la Coordinación Nacional de Protección Civil Laura Velázquez, detalló que han salido dos aeronaves de la Sedena.</p>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="media d-block media-feature text-center">
            <div class="mr-3 icon-wrap"><span> <img src="/assets/images/senado.jpg" height="200px"  alt=""></span></div>
            <div class="media-body">
              <h3>Aprueban comisiones del Senado en lo general y particular Ley de Revocación de Mandato.</h3>
              <p>La revocación de mandato es el instrumento de participación ciudadanía para determinar el desempeño del cargo del Presidente de la República.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media d-block media-feature text-center">
            <div class="mr-3 icon-wrap"><span> <img src="/assets/images/ebrad.jpg" height="200px"  alt=""></span></div>
            <div class="media-body">
              <h3>Diálogo Económico de Alto Nivel entre México y EU será en septiembre: Ebrard.</h3>
              <p>Los presidentes de ambos países no asistirán a la reunión, pero la delegación mexicana estará encabezada por el canciller y Tatiana Clouthier.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END section -->

  <section class="section-cover cta" data-stellar-background-ratio="0.5" style="background-image: url(/assets/images/com.jpg);">
    <div class="container">
      <div class="row justify-content-center align-items-center intro">
        <div class="col-md-8 text-center">
          <h2 class="mb-4"><span>Por qué tú opinion es lo más importante</span> Dejanos tus comentarios</h2>
          <p><a routerLink="/contacto" class="btn btn-black">Comentar</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- END section -->
  