      <section class="site-section pb-5">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-8 text-center">
              <h1>BUENAS PRÁCTICAS EN LA POLÍTICA</h1>
               </div>
          </div>
          <div class="row">
            <div class="col-md-6 video-wrap mb-5">
              <img src="/assets/images/par.jpeg" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-md-6 pl-md-5">
              <h3>Participación Ciudadana</h3>
              <p>la participación ciudadana es el conjunto de actividades a través de las cuales toda persona tiene el derecho individual o colectivo para intervenir en las decisiones públicas, deliberar, discutir y cooperar con las autoridades, así como para incidir en la formulación, ejecución y evaluación de las políticas y actos de gobierno de manera efectiva, amplia, equitativa, democrática y accesible; y en el proceso de planeación, elaboración, aprobación, gestión, evaluación y control de planes, programas, políticas y presupuestos públicos.</p>
              </div>
          </div>
        </div>
      </section>
      <!-- END section -->
  
      <section class="pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 video-wrap mb-5">
              <img src="/assets/images/igual.png" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-md-6 pl-md-5">
              <h3>Igualdad de Género y No Discriminación</h3>
             <p>Todos los seres humanos, sin distinción de raza, credo o sexo, tienen derecho a perseguir su bienestar material y su desarrollo espiritual en condiciones de libertad y dignidad, de seguridad económica y de igualdad de oportunidades</p>
            </div>
          </div>
        </div>
      </section>
      <!-- END section -->
  
      <section class="pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 video-wrap mb-5">
              <img src="/assets/images/vota.jpg" alt="Image placeholder" class="img-fluid">
              </div>
            <div class="col-md-6 pl-md-5">
              <h3>Participar y votar en igualdad</h3>
              <p>Las cuotas de género son un concepto fundamental para la vida política y democrática de nuestro país, ya que buscan la paridad política entre los géneros. Con estas cuotas se pretende producir un cambio de cultural para evitar el predominio de un solo género en la esfera política.</p>
              </div>
          </div>
        </div>
      </section>
      <!-- END section -->
  
     