<section class="site-section pb-5">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-8 text-center">
          <h1>MALAS PRÁCTICAS EN LA POLÍTICA</h1>
          <p class="lead">	
            Para el Gobierno de Michoacán, es muy importante conocer y dar respuesta eficaz sobre la actuación indebida de sus servidores públicos, que contravengan las disposiciones normativas, éticas y profesionales en su desempeño. Es por ello que se invita a la ciudadanía a presentar las quejas y denuncias, que consideren pertinentes sobre el incumplimiento de los servidores públicos en prácticas irregulares que contravengan.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 video-wrap mb-5">
          <img src="/assets/images/poli.jpeg" alt="Image placeholder" class="img-fluid">
          <a routerLink="/denuncias" class="popup-vimeo btn-video"><span> Denunciar</span></a>
        </div>
        <div class="col-md-6 pl-md-5">
          <h3>La manipulación del marco legal
          </h3>
          <p>Esta mala práctica sucede cuando se diseñan normas para favorecer a algunos contendientes a campañas electorales, o en general a un partido politico en especifico.</p>
          
        </div>
      </div>
    </div>
  </section>
  <!-- END section -->

  <section class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 video-wrap mb-5">
          <img src="/assets/images/ine.jpg" alt="Image placeholder" class="img-fluid">
          <a routerLink="/denuncias" class="popup-vimeo btn-video"><span>Denunciar</span></a>
        </div>
        <div class="col-md-6 pl-md-5">
          <h3>La manipulación de los órganos electorales</h3>
          <p>Esta se lleva acabo en el caso del Tribunal Electoral y cuando se realicen amenazas al INE y a consejeros en particular, en general lo que intentan es amedrentar y manipular a los órganos electorales con el fin de dar condiciones favorables a ciertos contendientes y/o partidos politicos.</p>
         </div>
      </div>
    </div>
  </section>
  <!-- END section -->

  <section class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 video-wrap mb-5">
          <img src="/assets/images/pro.jpeg" alt="Image placeholder" class="img-fluid">
          <a routerLink="/denuncias" class="popup-vimeo btn-video"><span> Denunciar</span></a>
        </div>
        <div class="col-md-6 pl-md-5">
          <h3>La manipulación de la decisión electoral</h3>
           <p>Sera conciderada como mala practica politica cuando se aga uso de programas sociales para generar condiciones favorables hacia ciertos contendientes y/o partidos politicos.</p>
          </div>
      </div>
    </div>
  </section>
  <!-- END section -->

 