
    <section class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-4 pr-5">
              
              <h2 class="mb-3">Te Ofrecemos</h2>
              <p class="mb-5">La posibilidad de conocer distintas prácticas políticas buenas y malas, así como támbien podras encontrar noticias con contenido relacionado a toda la republica mexicana, de igual forma tendras la oportunidad de realizar denuncias en caso de que seas víctima de una mala práctica política.</p>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12 slider-wrap">
                  <div class="owl-theme no-nav js-carousel-1">
             
                    <a routerLink="/buenaspracticas" class="img-bg" style="background-image: url('/assets/images/politica6.jpg')">
                      <div class="text">
                        <span class="icon custom-icon "></span>
                        <h2>Buenas Prácticas Políticas</h2>
                        <p>Leer más</p>
                      </div>
                    </a>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END section -->
      <section class="section-cover cta" data-stellar-background-ratio="0.5" style="background-image: url(/assets/images/delito1.jpg);">
        <div class="container">
          <div class="row justify-content-center align-items-center intro">
            <div class="col-md-8 text-center">
              <h2 class="mb-4"><span>Participar en malas prácticas políticas</span> Es un delito</h2>
              <p><a routerLink="/denuncias" class="btn btn-black">DENUNCIA YA</a></p>
            </div>
          </div>
        </div>
      </section>
      <!-- END section -->
  
      <section class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 video-wrap mb-5">
              <img src="/assets/images/sil.jpg" alt="Image placeholder" class="img-fluid">
              <a href="https://www.youtube.com/channel/UCOP_uNXxVvhRJDotMm9NW8w" class="popup-vimeo btn-video"><span class="fa fa-play"></span></a>
            </div>
            <div class="col-md-6 pl-md-5">
              <h3>Actual gobernador de Michoacán</h3>
              <p class="lead">Silvano Aureoles Conejo</p>
              <p>Silvano Aureoles Conejo (Carácuaro, Michoacán; 23 de agosto de 1965) es un político mexicano, y el actual gobernador de Michoacán por el periodo 2015-2021. Miembro fundador del Partido de la Revolución Democrática, y ha representado al III Distrito Electoral Federal de Michoacán, con sede en la ciudad de Heroica Zitácuaro durante la LXII legislatura, en la cual también fungió como presidente de la Cámara de Diputados.</p>
              <p>Es ingeniero agrónomo especialista en Bosques por la Universidad Autónoma Chapingo y Maestro en Ciencias para el Desarrollo Rural Regional por la misma universidad.</p>
            </div>
          </div>
        </div>
      </section>